
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
clientApp/node_modules/
node_modules/
*node_modules/*

# Ignore .idea files
clientApp/.idea/
.idea/